.historical-analysis {
    padding: 15px;
    background-color: #f8f9fa;
}

.scatter-plot {
    height: 1000%;
}

@media (max-width: 1024px) {
    .scatter-plot {
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .scatter-plot {
        max-width: 450px;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .scatter-plot {
        max-width: 350px;
    }
}

.analysis-info {
    padding-right: 10px;
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

@media (max-width: 768px) {
    .analysis-info {
        margin-top: 20px;
        text-align: justify;
    }
}