.daily-anomaly-explorer {
    color: #666;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    margin-top: 30%;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .info {
        margin: 0;
        justify-content: center;
    }
}

.plot-container-left-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 768px) {
    .plot-container-left-align {
        align-items: center;
    }
}

.plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.plot-title {
    max-width: 500px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.plot {
    position: relative;
    max-width: 500px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .plot {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .plot {
        max-width: 90%;
    }
}

.dynamic-plot {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}