.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    margin-top: 20%;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .info {
        margin: 0;
        justify-content: center;;
    }
}

.plot {
    position: relative;
    width: 100%;
    height: 100%;
}

.dynamic-plot {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}