.d3-map-container {
    position: relative;
    width: 560px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .d3-map-container {
        width: 440px;
        height: 550px;
    }
}

@media (max-width: 768px) {
    .d3-map-container {
        width: 400px;
        height: 500px;
    }
}

@media (max-width: 480px) {
    .d3-map-container {
        width: 320px;
        height: 400px;
    }
}

.d3-map {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}