.map-legend {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.map-legend-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.map-legend-colors {
    display: flex;
    width: 100%;
    height: 12px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.map-legend-color-box {
    flex: 1;
    height: 100%;
}

.map-legend-labels {
    display: flex;
    width: 100%;
    height: 1em;
}

.map-legend-label {
    flex: 1;
    font-size: 0.8em;
    text-align: center;
}