@media (max-width: 1024px) {
    .thanks {
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .thanks {
        padding: 20px 10px;
    }
}


.partner-sites {
    padding: 1rem;
}

.partner-sites h3 {
    margin-bottom: 1.5rem;
    text-align: left;
}

@media (max-width: 768px) {
    .partner-sites h3 {
        text-align: center;
    }
}

.flag-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
    max-width: 300px;
}