.date-select-container {
    position: relative;
    display: inline-block;
}

.date-selection-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
}

.calendar-icon-container:hover {
    background-color: #e0e0e0;
}

.date-select-icon {
    font-size: 1rem;
    color: #555;
}

.date-select-icon.active {
    color: rgb(7, 87, 156);
}

.date-toggle-button {
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    box-sizing: border-box;
    padding: 6.5px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
}

.date-toggle-button:hover {
    background-color: #f8f9fa;
}

.calendar-icon-container.active,
.date-toggle-button.active {
    background-color: rgb(7, 87, 156);
    color: #f8f9fa;
    border-color: rgb(7, 87, 156);
}

.calendar-icon-container.active .date-select-icon {
    color: #f8f9fa;
}

.date-picker-popup {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000;
    min-width: 250px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .date-picker-popup {
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        max-width: 350px;
    }
}